[submodule "Modulo16Lab/Fibonacci/proyectoFibonacciFork"]
	path = Modulo16Lab/Fibonacci/proyectoFibonacciFork
	url = https://github.com/cberdejo/proyectoFibonacciFork
[submodule "Modulo16Lab/Fibonacci/proyectoFibonacci"]
	path = Modulo16Lab/Fibonacci/proyectoFibonacci
	url = https://github.com/cberdejo/Proyecto-Fibonacci
